node_modules/

dist/
out/

*.log
*.tmp
*.bak
*.swp
generate_file_list.py
generate_robocopy_commands.py
get_file_dates.py
skipped_files.txt

.DS_Store      # macOS
Thumbs.db      # Windows
Desktop.ini    # Windows

.vscode/
*.code-workspace

.env
.env.local

config/local.json
personal_script.sh
secret.txt

*.bak

*.vs